.container{
    display:flex;
    
}

.card {
    padding:20px;
    background:wheat;
    border-radius: 15px;
}

.right{
    margin-left: 20px;
    min-width: 600px;
    display:flex;
    flex-direction: column;
    align-items: center;
}