<mat-card class="example-card" routerLink="edit">
    <mat-card-header>
      <mat-card-title>Edytuj bank</mat-card-title>
    </mat-card-header>
    
    <mat-card-content>
      <p>Uzupełnij informacje o banku</p>
    </mat-card-content>
    <mat-card-actions>
      
    </mat-card-actions>
  </mat-card>

<mat-card class="example-card" routerLink="zobacz">
    <mat-card-header>
      <mat-card-title>Zobacz rachunek</mat-card-title>
    </mat-card-header>
    
    <mat-card-content>
      <p>Zobacz podsumowanie rachunku bankowego</p>
    </mat-card-content>
    <mat-card-actions>
      
    </mat-card-actions>
  </mat-card>

